<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
  "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" dir="ltr" lang="en-US">
  <head profile="http://gmpg.org/xfn/11">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    
    <title>Slim Time Picker</title>
    
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
  </head>
  
  <body>
    <div class="container_12">
      <% flash.each do |name, msg| %>
        <div id="flash-<%= name %>" class="grid_12"><%= msg %></div>
        <div class="clear"></div>
      <% end %>

      <div class="grid_12">
        <%= yield %>
      </div>
      <div class="clear"></div>
    </div>
  </body>
</html>
